/* To be merged into main CSS file at a later stage */





/*#############  Page Background (written by Catherine. #############*/

.contact_background {
    background-image: url(../images/background_image.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}







/*################  Contact Form (written by Philipp)  #####################*/
.form-button {
    background-color: #92b09d;
    border: 1px solid #92b09d;
}

.form-button-disabled {
    background-color: #b4c8bb56 !important;
    border: 1px solid #b4c8bb56 !important;
}

.form-button:active {
    background-color: #92b09d !important;
    border: 1px solid #92b09d !important;
}

.form-button:hover {
    background-color: #f6f6f6;
    color: #92b09d;
    border: 1px solid #92b09d;
}

.form-label {
    font-weight: bold;
}

.invalid-input {
    background-color: #FF7F7F;
    border: 1px solid #ff0000;
}

#contact-form {
    background-color: #f6f6f6;
    color: #92b09d;
    border-radius: 10px;
    border: 0.5rem solid #92b09d;
}

/*################  Footer (written by Philipp)  #####################*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.footer-icon {
    margin-right: 5px;
}

.footer-link {
    text-decoration: none;
    color: inherit;
}

.footer-list {
    list-style: none;
    padding-left: 0;
}

.footer-logo {
    height: 100px;
}

.footer-heading {
    text-transform: capitalize;
    font-weight: bold;
}

#footer {
    margin-top: auto;
    background-color: #f6f6f6;
    color: #92b09d;
    border-top: 1rem solid #92b09d;
}