/***Moses Eribo 2020***/
/***Colors***/
$nice-white:#fbfbfb;
$kinda-black:#333333;
$kinda-white:#e2e2e2;
$almost-white:#808080;

$nice-orange: #ff9d4e;

/***Title styling overrides***/
$title-size: 25px;