@import "extra_styles";

html{
    min-height: 100% !important;
    scroll-behavior: smooth;
}
.site-logo{
    margin: 0;
    margin-bottom: 50px;
    padding-left: 0;
    display: block;
    max-width: 100%;
    width: 100% !important;
    position: relative;
}
.site-title {
    font-size: $title-size;
    color: $nice-orange !important;
    background-color: none;
    display:block;
    text-align: right !important;
}
.site-title:after{
    content: ".";
}
.site-title:hover{
    color: $kinda-orange !important;
}


body {
    display:block !important; 
    background-color: $kinda-black !important;
    color: $nice-white !important;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
     
}

.site-header{
    margin-bottom: 50px !important;
    display: block;

}
main{
    margin-left: 0;
    margin-right: auto;
    padding-top: 75px !important;
    display:block;
    max-width: 95% !important;
}
footer{display:block;}

.wrapper {
    margin: 0;
    padding-left: 0;
    display: block;
    max-width: 100%;
    width: 800px;
    
}

footer ul li a {
    font-size: 14px !important;
    color: $nice-orange !important;
    
}
footer ul li a:hover{
    color: $nice-white !important;
    
}
.instantclick-bar {
    background: $nice-orange !important;
}
.post-image{
    width: 35%;
    display: inline-block;
}
.page-title{
    padding-left: 2px !important;
    font-size: 15px;  
}
.post-meta {
    position: relative;
    padding-left: 2px;
	display: inline-block;
	background-color: $kinda-black !important;
    color: $kinda-white !important;
    font-size: 11px;
}
.post-meta:before{
    content: "—";
}
.post-year{
    position: relative;
    display: inline-block;
    width:100%;
    padding-left: 2px;
	background-color: $kinda-black !important;
    color: $nice-orange!important;
    font-size: 12px;

}

article a {
    position: relative;
    display: inline-block;
    background-position: 0px 13px;
    background-repeat: no-repeat;
    background-size: 100% 40%;
    color: $kinda-white !important;
    text-decoration: underline !important;
}

article a:hover {
	color: $almost-white !important;
}

a {
    color: $nice-white;
}

a, a:hover {
    color: $nice-orange !important;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
a.site-title{
    color: $nice-orange !important;
}
    
a, a:visited, a:active, a:hover, h1 {
    color: $kinda-white;
    text-decoration: none !important;
    font-weight: 400;
}
    
p {
    opacity: 1 !important;
    color: $nice-white !important;
}
    
h1, .h1, h2, .h2, h3, .h3, label, legend {
    font-family: "Avenir Next", system, sans-serif;
    font-size: 1em;
    color: $nice-white !important;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 40px;
    letter-spacing: normal !important;
    font-weight: normal;
}